.cosmicweb-page #navigation:before {
  display: block;
  content: "CDPLOGÍSTICA";
  position: absolute;
  right: 15px;
  top: 40px;
  color: #111316;
  font-size: 12px;
}


.cosmicweb-page header .menu {
  padding: 0px 124px 0 0;
}

.cosmicweb-page header .menu li {
  margin:0 5px 0 0;
}

.cosmicweb-page nav .menu>li.current-menu-item > a, 
.cosmicweb-page nav .menu>li.current-menu-parent > a, 
.cosmicweb-page nav .menu>li > a:hover {
      border-bottom: 6px solid #2A4A70;
}


.cosmicweb-page nav .menu>li > a {
      color:#2A4A70;
      display: inline-block;
      padding: 4px 0 0 0;
      font-weight: 600;
      font-size: 14px
}

.cosmicweb-page header#header .row-fluid .span12,
.cosmicweb-page .header_wrapper {
    height: 130px !important;
    margin: 11px 0 31px;
}


.blog-article.grid-style,
.wpb_wrapper {
  *zoom: 1;
}

.blog-article.grid-style:before,
.blog-article.grid-style:after, 
.wpb_wrapper:before,
.wpb_wrapper:after {
  display: table;
  content: "";
  line-height: 0;
}

.blog-article.grid-style:after,
.wpb_wrapper:after {
  clear: both;
}

.gridbox.cosmicweb img {
  border-bottom: solid 9px #9E9E9E;
}

.gridbox.cosmicweb .vermas {
  display: block;
  margin: 10px 0 2px;
}

.blog-article.grid-style .gridbox.cosmicweb .content {
  float:none;
}
.blog-article.grid-style .gridbox.cosmicweb .media {
  float:none;
}



.gridbox.cosmicweb .vermas:before {
  content:"+ ";
}

.wpb_revslider_element:after {
  content:"";
  display: block;
  background: #ff400b;
  width:230px;
  height: 10px;
}

.cosmicweb-page .top_wrapper {
  font-size:14px;
}

.cw_row_content strong {
  color:#2a4a6c;
}

/* Footer */
.cosmicweb-page #footer a:hover,
.cosmicweb-page #footer h1,
.cosmicweb-page #footer h2,
.cosmicweb-page #footer h3,
.cosmicweb-page #footer h4 {
  color: #ffff00;
} 

.cosmicweb-page #copyright {
  color: #626262;
  font-size: 12px;
  margin: 0;
  padding: 0.5em 0;
}

.cosmicweb-page #copyright i.icon.argentina {
    background: url('../img/arg.jpg') no-repeat 0 3px;
    width: 10px;
    height: 9px;
    padding: 6px 3px 0 2px;
}

.cosmicweb-page #footer .menu li {
  padding:0;
}


.fancybox-inner .wpcf7 {
  width: 800px;
}

.fancybox-inner .wpcf7 p {
  float:none;
}

.menu-servicios-container {
  padding:0 0 0 20px;
}

.menu-servicios-container .cosmic_menu {
    border-top: solid 10px;
  border-bottom: solid 10px;
  border-color:#888888;
  list-style:none;
  margin:0 0;
  padding:30px 0 30px 2em;
}

.menu-servicios-container .cosmic_menu .menu-item {
  margin:13px 0;
  position:relative; 
}

.menu-servicios-container .cosmic_menu .menu-item a {
  color: #2a4b6c;
  font-weight:800;
  font-size: 15px;
}

.menu-servicios-container .cosmic_menu .menu-item.current_page_item a,
.menu-servicios-container .cosmic_menu .menu-item a:hover {
  color:#ff400b
}

.menu-servicios-container .cosmic_menu .menu-item.current_page_item a:before,
.menu-servicios-container .cosmic_menu .menu-item a:hover:before {
  content:"";
  width:10px;
  height:30px;
  background:url('../img/titles_1.jpg') no-repeat 0 5px;
  background-size:100%;
  display:block; 
  position:absolute;
  left:-20px;
}

.menu-servicios-container .cosmic_menu .menu-item.current_page_item a:hover {
  text-decoration: underline
}

.cosmicweb-page .cosmicweb.post .heading {
  background: url('../img/titles_1.jpg') no-repeat !important;
  padding: 0 0 15px 40px;   
}

.cosmicweb-page .cosmicweb.post .heading.with.subtitle {
  padding: 0;
}

.cosmicweb-page .cosmicweb.post .heading.with.subtitle h1 {
  padding-left: 40px;
}

.cosmicweb-page .cosmicweb.post .heading h1,
.cosmicweb-page .cosmicweb.post, 
.cosmicweb-page .cosmicweb.post .heading h2 {
  color: #2a4a6c;
  
}

.cosmicweb-page .cosmicweb.post blockquote {
  margin:2em 0 0.5em;
  font-style:oblique;
  line-height: 1.5em
}

.cosmicweb-page .cosmicweb.post ul {
  margin: 1.5em 0 0 0;
  padding:0;
  list-style:none;
}



.cosmicweb-page .cosmicweb.post ul li:before {
  font-family: FontAwesome;
  content: "\f0da";
  padding: 0 5px 0 0;
  color:#ff400b;
}

.cosmicweb-page .cosmicweb.post ul li {
  display:block;
  line-height: 1.8em;
  
}

.cosmicweb-page .cosmicweb.post .heading h1 {
  font-size: 45px;
}
.cosmicweb-page .cosmicweb.post .heading h2 {
  font-size: 30px;
  line-height: 1.8em;
}

.cosmicweb-page .columna.servicios .shortcode_h2 {
  font-size:14px;
  line-height: 1.4em;
}




.cosmicweb-page .columna.servicios .shortcode_h2 + ul {
  margin:1em 0 0;
  padding:0;
  color:#111316;
  font-size:12px;
  list-style:none;
}

.cosmicweb-page .columna.servicios .shortcode_h2 + ul li:before {
  font-family: FontAwesome;
  content: "\f0da";
  padding: 0 5px 0 0;
  color:#ff400b;
}

.cosmicweb-page .columna.servicios .shortcode_h2 + ul li {
  margin: 0.5em 0 0;
}